<h3>Help</h3>
<uib-accordion>
  <ng-include src="'views/partials/whatarefavors.html'" include-replace></ng-include>
  <uib-accordion-group heading="What do I get out of doing a favor?">
    <ul>
      <li>
        <strong>You get to meet someone new.</strong> You've got skills–and it's awesome to be able to share those with people. Doing what you love is a great activity when meeting someone new because you're at your best.
      </li>
      <li>
        <strong>You get to practice.</strong> Sometimes you need experience to prove your talents to employers or customers. There's no better way to get experience than by offering it freely to your community.
      </li>
      <li>
        <strong>Can I charge?</strong> No! Money's not allowed. However, while it's not encouraged, trading favors is allowed–just keep the mindset that you're giving and getting freely rather than exchanging.
      </li>
    </ul>
  </uib-accordion-group>
  <uib-accordion-group heading="How do I stay safe?">
    <ul>
      <li>
        <strong>Trust your instincts</strong> If a person, situation or profile seems unsafe for any reason, move on. Don’t worry about seeming rude. Communicate clearly with others and take care of yourself.
      </li>
      <li>
        <strong>Communicate through Favor.trade</strong> Don’t give out your phone number and email address until you meet and feel comfortable with a new person. Use the messaging system within the website to communicate.
      </li>
      <li>
        <strong>Review profiles carefully</strong> Take the time to carefully review member profiles. Read what members say about themselves and what other members have said about them.
      </li>
      <li>
        <strong>Leave Feedback</strong> Let other Favor.traders know about your experiences with the people you meet. Be honest and clear. You can do this by leaving reviews for other members to see.
      </li>
    </ul>
  </uib-accordion-group>
</uib-accordion>

Need something else? Shoot us an email at <a href="mailto:info@favor.trade">info@favor.trade</a>.
