<div class="modal-header">
  <h3 class="modal-title">Terms and Conditions</h3>
</div>
<div class="modal-body">
  You agree that...
  <uib-accordion close-others="oneAtATime">
    <uib-accordion-group heading="You">
      You're at least 18 years old. You live in the USA.
    </uib-accordion-group>
    <uib-accordion-group heading="Us">
      We can display the information you provide to us. This includes showing your name and age to people that search nearby. If you don't agree with this, delete your account. It will be as though you were never here. We will not sell your information, send you promotional emails, or try to get bigger at your expense.
    </uib-accordion-group>
  </uib-accordion>
</div>
