<uib-accordion-group heading="What kind of favors can I do?">
  <ul>
    <li>
      <strong>No money allowed.</strong> This site is not about making money or getting a deal–If you're interested in selling your services or paying to have something done, there are other places for that. That being said, if you're fixing someone's car or baking them a cake, of course they can buy their own parts and supplies.
    </li>
    <li>
      <strong>No stuff allowed.</strong> This site is not about recycling, cleaning out your attic or garage, or giving things away. If it's stuff you seek, there are lots of other places for that.
    </li>
    <li>
      <strong><em>It's about community</em></strong>. Helping (and being helped) is a great way to get to know people! There's no better way to love than by sharing your passions and expertise without compensation.
    </li>
  </ul>
</uib-accordion-group>
<uib-accordion-group heading="What should I write??">
  <ul>
    <li>
      <strong>Keep it concise.</strong> Favors are limited to {{RESOURCES.max.favor}} characters. People will ask questions if they're unsure whether you can help or not.
    </li>
    <li>
      <strong>Keep it clean.</strong> As a general rule of thumb, this site should be Grandma-safe. If you wouldn't want your grandma knowing you posted it, don't post it! If you see anything inappropriate, please flag it.
    </li>
  </ul>
</uib-accordion-group>
